# Cache y archivos de usuario de Visual Studio
.vs/
*.suo

# Binarios de compilación
[Bb]in/
[Oo]bj/

# Paquetes de NuGet (la carpeta packages/)
packages/

# Archivos de depuración
*.exe
*.pdb
*.cache